$color-red: #c70101
$color-text-default: #0d0d0d

@mixin button
  border: none
  border-radius: 5px
  background-color: $color-red
  color: #ffffff
  font-weight: 500
  text-transform: uppercase
  cursor: pointer
  outline: none


*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-family: "Museo Sans Cyrl", sans-serif
  color: $color-text-default

.container
  position: relative
  width: 950px
  margin: 0 auto

.contact_form
  position: relative
  &_input
    display: block
    margin-top: 15px
    padding: 0 20px 0 20px
    width: 300px
    height: 50px
    border: none
    border-radius: 5px
    background-color: #ffffff
    font-size: 14px
    color: #4b4b4b
    outline: none
    &:first-child
      margin: 0
  &_button
    @include button
    margin-top: 20px
    width: 300px
    height: 55px

.promo
  min-height: 650px
  padding: 21px 0 90px 0
  background: url("../images/promo_bg.jpg") center (center/cover) no-repeat
  color: #ffffff

  .header
    display: flex
    justify-content: space-between

    &_logo
      margin-top: 3px

    &_text
      margin-top: 7px
      display: flex
      flex-direction: column
      align-items: center
      &_upper
        font-size: 12px
        font-weight: 500
      &_lower
        margin-top: 5px
        font-size: 18px
        font-weight: 500

    &_contacts
      display: flex
      flex-direction: column
      align-items: flex-end

      &_phone
        font-size: 18px
        font-weight: 500
        color: #ffffff
      &_btn
        @include button
        margin-top: 8px
        width: 150px
        height: 30px
        font-size: 12px


  &_wrapper
    display: flex
    flex-direction: column
    align-items: flex-end

  &_title
    margin: 110px 0 0 0
    font-size: 42px
    font-weight: 700
    text-transform: uppercase
  &_subtitle
    margin: 15px 0 0 0
    font-size: 24px
    font-weight: 300
    text-transform: uppercase

  &_features
    margin-top: 75px
    width: 425px
    display: flex
    justify-content: space-between
    &_item
      width: 110px
      text-align: center
      &_text
        margin-top: 15px
        font-size: 14px
        font-weight: 500

  &_btn
    @include button
    margin-top: 95px
    width: 300px
    height: 50px
    font-size: 16px


  &_catalog_link
    margin-top: 18px
    font-size: 16px
    font-weight: 500
    a
      color: #ffffff


.advantages
  padding: 70px 0
  background-color: #f6f6f6
  &_title
    text-align: center
  &_wrapper
    margin-top: 65px
    display: flex
    justify-content: space-between
  &_item
    width: 250px
    text-align: center
    &_title
      margin-top: 38px
      font-size: 18px
      font-weight: 700
    &_text
      margin-top: 25px
      font-size: 14px
      font-weight: 500
      a
        color: #ff0000

.consultation
  padding: 100px 0 92px 0
  background: url("../images/consultation_bg.jpg") center (center/cover) no-repeat
  color: #ffffff
  &_title
    font-size: 36px
    font-weight: 700
    text-transform: uppercase
  &_text
    margin-top: 80px
    font-size: 20px
    font-weight: 300
  &_form
    margin-top: 36px

.slider
  padding: 100px 0 50px 0
  &_wrapper
    width: 750px
    margin: 0 auto
  &_viewport
    height: 600px
  &_prev_btn, &_next_btn
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 0
    cursor: pointer
  &_next_btn
    left: auto
    right: 0

  .tns-slide-active
    img
      display: block
      margin: 0 auto


.catalog
  padding: 50px 0
  &_title
    font-size: 30px
    font-weight: 700
    text-align: center
    text-transform: uppercase
  &_tabs_wrapper
    margin-top: 65px
    display: flex
    justify-content: center
    align-items: center
    list-style: none
  &_tab
    display: block
    margin: 0 5px
    width: 220px
    height: 50px
    border: 2px solid #d0d0d0
    color: #6b6b6b
    font-size: 18px
    line-height: 46px
    font-weight: 500
    text-align: center
    text-transform: uppercase
    transform: skewX(-25deg)
    cursor: pointer
    span
      display: block
      transform: skewX(25deg)
    &_active
      border: 2px solid $color-red
      background: $color-red
      color: #ffffff
      &:hover
        border: 2px solid $color-red !important
        box-shadow: none !important
    &:hover
      border: 1px solid $color-red
      box-shadow: 3px 3px 5px $color-red

  &_items_wrapper
    margin-top: 50px
    display: none
    justify-content: center
    flex-wrap: wrap

  &_active
    display: flex

  &_item
    margin: 5px
    padding: 20px
    display: flex
    flex-direction: column
    width: 300px
    height: 440px
    border: 2px solid #e8e8e8
    text-align: center
    hr
      border: none
      height: 1px
      color: #e8e8e8
      background-color: #e8e8e8

    &_data
      display: none
      position: relative
      flex-grow: 1
    &_details
      display: none
      position: relative
      flex-grow: 1
      ul
        padding-left: 10px
        text-align: left
        list-style: none
        li
          padding-bottom: 20px
          position: relative
          font-size: 14px
          font-weight: 300
          &:before
            position: absolute
            content: ''
            width: 5px
            height: 5px
            left: -14px
            top: 5px
            background: $color-red

    &_active
      display: block

    &_image
      max-width: 100%
      height: 200px
    &_title
      margin-top: 20px
      font-size: 16px
      font-weight: 700
    &_text
      font-size: 14px
      font-weight: 500

    &_more_link, &_back_link
      position: absolute
      display: block
      left: 0
      right: 0
      bottom: 19px
      margin: auto
      font-size: 14px
      font-weight: 700
      color: $color-red
      text-transform: uppercase

    &_footer
      margin-top: 20px
      display: flex
      justify-content: space-between
      align-items: center

    &_price
      text-align: left
      &_old
        color: #555555
        font-size: 14px
        font-weight: 500
        text-decoration: line-through
      &_new
        color: #050505
        font-size: 20px
        font-weight: 700

    &_btn
      @include button
      width: 131px
      height: 40px

.reviews
  padding: 50px 0 70px 0
  hr
    border: none
    height: 1px
    color: #f6f6f6
    background-color: #f6f6f6
  &_title
    font-size: 30px
    font-weight: 400
    text-transform: uppercase
    text-align: center
  &_wrapper
    margin-top: 20px
    display: flex
    flex-direction: column
  &_item
    margin: 50px 0
    display: flex
    &_img
      display: block
      width: 169px
      height: 169px
    &_text
      margin-left: 60px
      h3
        font-size: 18px
        font-weight: 700
      span
        display: block
        margin-top: 10px
        color: #646464
        font-size: 14px
        font-weight: 300
      p
        margin-top: 19px
        max-width: 650px
        font-size: 16px
        font-weight: 500

.footer
  position: relative
  &_map
    width: 100%
    height: 600px
  &_info
    position: absolute
    top: 0
    left: 0
    right: 0
    margin: auto
    padding: 50px 0
    width: 460px
    height: 270px
    color: #ffffff
    background-color: $color-red
    &_address
      font-size: 20px
      font-weight: 500
      text-align: center
    &_phone
      display: block
      margin-top: 36px
      font-size: 20px
      font-weight: 700
      color: inherit
      text-align: center
    &_social
      display: flex
      justify-content: center
      margin-top: 38px
      a
        margin: 0 15px
        display: flex
        justify-content: center
        align-items: center
        width: 50px
        height: 50px
        border: 2px solid #ffffff
        border-radius: 50%